
$primaryColor: #eeffcc
body {
    background-color: $primaryColor; 
}

h1 {
    color: navy;
    margin-left: 20px;
}
p{
  animation-name: colorChange;
  animation-duration: 4s;
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear;
}

@keyframes colorChange {
    from {color: red;}
    to {color: yellow;}
}

p::hover {
 color: #ff7b29;
}
.add-project {
  margin-top:50px; 

}
.about {
    margin-top: 100px;
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    background: url(./img/about.jpg) no-repeat center center scroll;
     background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .features{
    margin-top:100px;
  }
  .title{
    margin-top:100px;
  }

  .create {
    margin-left:280px;
  }

