<!---THs ion ewill contain the fnacy MVC, with the headers, and teh different seprated vicews.-->

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="wedoApp"> <!--<![endif]-->
<head>


<!-- Meta-Information -->
<!-- etc… -->

<!-- Vendor: Bootstrap Stylesheets http://getbootstrap.com -->
<!-- etc… -->

<!-- Our Website CSS Styles -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Custom CSS -->

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
         <link href="bootstrap-social/bootstrap-social.css" rel="stylesheet" >
                  <link href="home.css" rel="stylesheet" >

<!-- CUSTOM CSS -->

                  <link href="home.css" rel="stylesheet" >

<!--Angular-->
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
 <script src="js/angular-ui-router.min.js"></script>

<!--JQUERY -->
   <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
</head>
<!--[if lt IE 7]>-->
<body>

<section id ="create" class = "container text-center"> 

<div class="container">
 <div ng-include src="'header.html'"></div>
      </div>




      <h3 class ="title">Create a new Project</h3>

<div class="create container">
  
<div class="row">
<form role="form" class="col-xs-6">
  <div class="form-group">
    <label for="code" ng-model = "todoTitle">Title</label>
    <input type="text" ng-model = "todoTitle" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="code" ng-model = "tododescription">Description</label>
    <input type="text" g-model = "tododescription" class="form-control"/>
  </div>
  <p>Date Due <input type="text" ng-model = "duedate" id="datepicker"   ></p>

<form id="tags" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-xs-3 control-label">Tags</label>
        <div class="col-xs-8">
            <input type="text" name="cities" class="form-control"
                   value="Cool project" data-role="tagsinput" />
        </div>
    </div>
  </div>
  </div>
</form>

<button type="button" class= "btn add-project" ng-controller="CreateProjectController" ng-click="generateTodoItem()">Add a new project
</div>

</form>
</div>


  <!--The date, and tags -->
  



      </section>

<!-- Vendor: Javascripts -->
<!-- etc… -->

<span class="highlight"><!-- Vendor: Angular, followed by our custom Javascripts -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
  <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script></span>
 <script src="js/angular-ui-router.min.js"></script>

<!-- Our Website Javascripts -->
<script src="js/controllers.js"></script>
</span>

</body>
</html>